## Tugas Dasar Pemrograman sesi 3

### 1. Jenis tipe data beserta contohnya pada bahasa pemrograman python

1. `Boolean`, menyatakan benar yaitu True(1) dan salah yaitu False(0)
2. `String`, menyatakan karakter atau kalimat yang berupa huruf, angka yang diapit oleh tanda " atau '
3. `Integer`, Menyatakan bilangan bulat contohnya 25 atau 109
4. `Float`, Menyatakan bilangan yang mempunyai koma contohnya 3.14 atau 0.99
5. `Hexadecimal`, Menyatakan bilangan dalam format heksa (bilangan berbasis 16) contohnya 9a, fa, dan 1d3
6. `Complex`, Menyatakan pasangan angka real dan imajiner contohnya 1 + 5j
7. `List`, Data untaian yang menyimpan berbagai tipe data dan isinya bisa diubah-ubah contohnya ['xyz', 786, 2.23]
8. `Tuple`, Data untaian yang menyimpan berbagai tipe data tapi isinya tidak bisa diubah contohnya ('xyz', 768, 2.23)
9. `Dictionary`, Data untaian yang menyimpan berbagai tipe data berupa pasangan penunjuk dan nilai {'nama': 'adi','id':2}

In [1]:
#Tipe data boolean
tipeDataBoolean = True
print(tipeDataBoolean, type(tipeDataBoolean))

#Tipe data String
tipeDataString = "Halo nama saya Supardi"
print(tipeDataString, type(tipeDataString))

#Tipe data Integer
tipeDataInteger = 1234567890
print(tipeDataInteger, type(tipeDataInteger))

#Tipe data Float
tipeDataFloat = 3.14
print(tipeDataFloat, type(tipeDataFloat))

#Tipe data Hexadecimal
tipeDataHexadecimal = 0xfff
print(tipeDataHexadecimal, type(tipeDataHexadecimal))

#Tipe data Complex
tipeDataComplex = 5j
print(tipeDataComplex, type(tipeDataComplex))

#Tipe data list
tipeDataList = [1, "2", 123]
print(tipeDataList, type(tipeDataList))

#Tipe data Tuple
tipeDataTuple = (0, 1, 2, 3, 4, 5)
print(tipeDataTuple, type(tipeDataTuple))

#Tipe data Dictionary
tipeDataDictionary = {"nama": "Supardi G", "Kelas": "TI22H"}
print(tipeDataDictionary, type(tipeDataDictionary))

True <class 'bool'>
Halo nama saya Supardi <class 'str'>
1234567890 <class 'int'>
3.14 <class 'float'>
4095 <class 'int'>
5j <class 'complex'>
[1, '2', 123] <class 'list'>
(0, 1, 2, 3, 4, 5) <class 'tuple'>
{'nama': 'Supardi G', 'Kelas': 'TI22H'} <class 'dict'>

### 2. Program menampilkan nama, nomor telepon dan NIM

In [2]:
#Nama
print("Supardi G")

#Nomor Telepon
print("083823242073")

#NIM
print("20220040084")

Supardi G
083823242073
20220040084

### 3. Program latihan penjumlahan dan pengurangan

In [3]:
angka1 = 5000
angka2 = 2000
angka3 = 200

angka1 += 500
angka2 += 500

hasil = angka1 + angka2 - angka3
print(hasil)

7800

### 4. Program mencari keliling lingkaran dan volume kubus

In [4]:
#program mencari keliling lingkaran
phi = 3.14
r = float(input("Masukan jari-jari: "))
print(f"Jari-jari: {r}")

hasil = 2 * phi * r
print(f"hasilnya adalah: {hasil}")

Masukan jari-jari: 7
Jari-jari: 7.0
hasilnya adalah: 43.96

In [5]:
#program mencari volume kubus
s = float(input("Masukan panjang sisi: "))
print(f"Sisi-sisi: {s}")

hasil = s * s * s
print(f"Hasilnya adalah: {hasil}")

Masukan panjang sisi: 8
Sisi-sisi: 8.0
Hasilnya adalah: 512.0