<h1>Praktikum Variabel & Tipe Data</h1>

<h3>Soal 1</h3>
Kiki belanja ke alf$$a M$a$r$t membeli 3 hepitos, 2 silperkuin, telor 2kg, beras 5kg, isi ulang akua galon seharga Rp 13.000. Harga hepitos yaitu Rp 15.000, telor Rp 13.000/kg, silperkuin Rp 21.000 beras kemasan 2.5kg seharga Rp 20.000. Toko tersebut memberikan discount 5%, ketika customer membeli makanan lebih dari 3 jenis. Berapakah total bayar belanjaan dari Kiki?

<h1>Analyze Here</h1>

Data barang atau produk:</br>
<table>
  <thead>
    <tr>
      <th>NO</th>
      <th>Barang</th>
      <th>Harga</th>
      <th>Satuan</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Hepitos</td>
      <td>15.000</td>
      <td>pcs</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Telor</td>
      <td>13.000</td>
      <td>kg</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Silperkuin</td>
      <td>21.000</td>
      <td>pcs</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Beras</td>
      <td>20.000</td>
      <td>Karung (2.5 kg)</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Isi ulang Aqua Galon</td>
      <td>13.000</td>
      <td>galon</td>
    </tr>
  </tbody>
</table>

kita akan menampung data setiap produk tersebut sebagai `Dictionary` yang dikumpulkan dalam sebuah `List` dengan nama variable `products` dengan struktur seperti berikut:

```python
products = [
  {
    "name": "hepitos",
    "price": 15000,
    "unit": 1,
    "unit_type": "pcs"
  }
]
```

Lalu kemudian, kita juga akan menampung barang yang akan dibeli oleh pembeli(Kiki) beserta dengan jumlah barang yg dibeli kedalam sebuah `Dictionary` yang dikumpulkan kedalam sebuah `List` dengan nama variable `cart` dengan struktur seperti berikut:

```python
cart = [
  {
    "product": "hepitos",
    "quantity": 1
  }
]
```

Kita akan menghitung jumlah uang yang harus dibayarkan pembeli. Kita akan menampung data tersebut pada sebuah variabel bernama `total_bill`. Untuk mendapatkan data tersebut kita akan melakukan perulangan terhadap setiap product didalam `List` `cart` untuk mendapatkan data nama produk(`product`) dan jumlah barang yg dibeli(`quantity`). Lalu akan mencari harga produk tersebut pada data `products` lalu melakukan perkalian harga dengan jumlahnya (`quantity`). Lalu hasilnya akan kita tambahkan ke nilai `total_bill`.

Kemudian kita akan mengecek apakah pembeli mendapatkan diskon. Caranya adalah mengecek apakah produk yang ada pada `List` `cart` apakah lebih dari 3 jenis. Jika ya maka kita akan mengurangi `total_bill` dengan diskon sebesar 5%.

In [1]:
#Code here

# DATA PRODUCT
products = [
  {
    "name": "Hepitos",
    "price": 15000,
    "unit": 1,
    "unit_type": "pcs"
  },
  {
    "name": "Telor",
    "price": 13000,
    "unit": 1,
    "unit_type": "kg"
  },
  {
    "name": "Silperkuin",
    "price": 21000,
    "unit": 1,
    "unit_type": "pcs"
  },
  {
    "name": "Beras",
    "price": 20000,
    "unit": 2.5,
    "unit_type": "kg"
  },
  {
    "name": "Isi ulang galon",
    "price": 13000,
    "unit": 1,
    "unit_type": "galon"
  },
]

# BELANJAAN PEMBELI (KIKI)
cart = [
  {
    "product": "Hepitos",
    "quantity": 3
  },
  {
    "product": "Silperkuin",
    "quantity": 2
  },
  {
    "product": "Telor",
    "quantity": 2
  },
  {
    "product": "Beras",
    "quantity": 2 # 2 * 2.5 = 5KG
  },
  {
    "product": "Isi ulang galon",
    "quantity": 1
  },
]

# MENGHITUNG TOTAL BILL
total_bill = 0

print("--------------STRUK----------------")
for c in cart: # LOOP PADA SETIAP PRODUCT YANG ADA PADA LIST `cart` YANG DIMASUKAN KE VARIABEL `c`
  for product in products: # LOOP PADA SETIAP PRODUCT YANG ADA PADA LIST `products` YANG DIMASUKAN KE VARIABEL `product`

    # JIKA NAMA PRODUK PADA `c` SAMA DENGAN NAMA PRODUK PADA LOOP SAAT INI (`product`)
    # MAKA KITA DAPAT MENDAPATKAN DATA HARGA PRODUK TERSEBUT
    if (c["product"] == product["name"]):
      name = product["name"]
      price =  product["price"]
      quantity = c["quantity"]
      unit = product["unit"]
      unit_type = product["unit_type"];

      bill = price * quantity # LALU KEMUDIAN MENGHITUNG BILL NYA DENGAN MENGKALIKAN HARGA DENGAN JUMLAH PEMBELIAN PRODUK
      total_bill += bill # KEMUDIAN BILL TERSEBUT DIAKUMULASIKAN DENGAN BILL-BILL SEBELUMNYA YANG DISIMPAN PADA VARIABLE `total_bill`

      print(f"{quantity * unit} {unit_type} {name}: Rp {bill}")
      break
print("-----------------------------------")

# MENGECEK APAKAH JENIS PRODUK YANG DIBELI LEBIH DARI 3, JIKA YA MAKA BERIKAN DISKON SEBESAR 5%
if (len(cart) >= 3):
  discount = 0.05
  total_discount = total_bill * discount
  total_bill -= total_discount
  print(f"Potongan harga: {total_discount} ({discount * 100}%)")

print(f"Total tagihan: Rp.{total_bill}")
print("--------------STRUK----------------\n")
print(f"Maka Kiki harus membayar sebesar Rp {total_bill}")

--------------STRUK----------------
3 pcs Hepitos: Rp 45000
2 pcs Silperkuin: Rp 42000
2 kg Telor: Rp 26000
5.0 kg Beras: Rp 40000
1 galon Isi ulang galon: Rp 13000
-----------------------------------
Potongan harga: 8300.0 (5.0%)
Total tagihan: Rp.157700.0
--------------STRUK----------------

Maka Kiki harus membayar sebesar Rp 157700.0

<h3>Soal 2</h3>
Roni menabung pada bulan agustus yaitu setiap tanggal ganjil sejumlah Rp 50.000, setiap tanggal genap sejumlah RP 10.000 dan setiap tanggal kelipatan 5 sejumlah Rp 5.000, Berapakah total tabungan Roni diakhir bulan?

<h1>Analyze Here</h1>

Roni menabung selama bulan Agustus, berarti selama `31` hari. Kita akan membuat perulangan untuk setiap tanggal selama 31 hari, lalu mengecek setiap tanggalnya apakah tanggal ganjil, genap, atau kelipatan lima lalu menabung sesuai kondisi tanggal tersebut.

Akan ada kemungkinan tanggal kelipatan lima juga merupakan tanggal ganjil atau genap, untuk itu yang pertama kita cek adalah apakah tanggalnya merupakan kelipatan lima, lalu jika tidak maka cek kembali apakah tanggalnya ganjil atau genap.

In [8]:
#Code here


days = 31 # JUMLAH HARI SELAMA BULAN AGUSTUS
day = 1 # TANGGAL

total_money = 0 # JUMLAH TABUNGAN RONI PADA AWAL BULAN

while(day <= days): # MELAKUKAN PERULANGAN DARI TANGGAL 1 SAMPAI TANGGAL 31

  money = 0 # TABUNGAN RONI SETIAP TANGGALNYA
  if(day % 5 == 0):
    money = 5000 # RONI MENABUNG RP 5.000 PADA TANGGAL KELIPATAN 5
  elif (day % 2 != 0):
    money = 50_000 # RONI MENABUNG RP 50.000 PADA TANGGAL GANJIL
  else:
    money = 10_000 # RONI MENABUNG RP 10.000 PADA TANGGAL GENAP
  
  total_money += money # MENAMBAHKAN TABUNGAN RONI SETIAP HARINYA KE TOTAL TABUNGAN
  print(f"Pada tanggal {day}, Roni menabung Rp {money}, total tabungan Rp {total_money}") # OUTPUT TABUNGAN RONI SETIAP TANGGALNYA
  day += 1 # TAMBAH TANGGAL SEKARANG DENGAN 1

print(f"\nTotal tabungan roni pada akhir bulan agustus adalah Rp {total_money}") # OUTPUT TOTAL TABUNGAN RONI PADA AKHIR BULAN AGUSTUS

Pada tanggal 1, Roni menabung Rp 50000, total tabungan Rp 50000
Pada tanggal 2, Roni menabung Rp 10000, total tabungan Rp 60000
Pada tanggal 3, Roni menabung Rp 50000, total tabungan Rp 110000
Pada tanggal 4, Roni menabung Rp 10000, total tabungan Rp 120000
Pada tanggal 5, Roni menabung Rp 5000, total tabungan Rp 125000
Pada tanggal 6, Roni menabung Rp 10000, total tabungan Rp 135000
Pada tanggal 7, Roni menabung Rp 50000, total tabungan Rp 185000
Pada tanggal 8, Roni menabung Rp 10000, total tabungan Rp 195000
Pada tanggal 9, Roni menabung Rp 50000, total tabungan Rp 245000
Pada tanggal 10, Roni menabung Rp 5000, total tabungan Rp 250000
Pada tanggal 11, Roni menabung Rp 50000, total tabungan Rp 300000
Pada tanggal 12, Roni menabung Rp 10000, total tabungan Rp 310000
Pada tanggal 13, Roni menabung Rp 50000, total tabungan Rp 360000
Pada tanggal 14, Roni menabung Rp 10000, total tabungan Rp 370000
Pada tanggal 15, Roni menabung Rp 5000, total tabungan Rp 375000
Pada tanggal 16, Roni menabung Rp 10000, total tabungan Rp 385000
Pada tanggal 17, Roni menabung Rp 50000, total tabungan Rp 435000
Pada tanggal 18, Roni menabung Rp 10000, total tabungan Rp 445000
Pada tanggal 19, Roni menabung Rp 50000, total tabungan Rp 495000
Pada tanggal 20, Roni menabung Rp 5000, total tabungan Rp 500000
Pada tanggal 21, Roni menabung Rp 50000, total tabungan Rp 550000
Pada tanggal 22, Roni menabung Rp 10000, total tabungan Rp 560000
Pada tanggal 23, Roni menabung Rp 50000, total tabungan Rp 610000
Pada tanggal 24, Roni menabung Rp 10000, total tabungan Rp 620000
Pada tanggal 25, Roni menabung Rp 5000, total tabungan Rp 625000
Pada tanggal 26, Roni menabung Rp 10000, total tabungan Rp 635000
Pada tanggal 27, Roni menabung Rp 50000, total tabungan Rp 685000
Pada tanggal 28, Roni menabung Rp 10000, total tabungan Rp 695000
Pada tanggal 29, Roni menabung Rp 50000, total tabungan Rp 745000
Pada tanggal 30, Roni menabung Rp 5000, total tabungan Rp 750000
Pada tanggal 31, Roni menabung Rp 50000, total tabungan Rp 800000

Total tabungan roni pada akhir bulan agustus adalah Rp 800000

<h3>Soal 3</h3>
Saat hari raya, Deni ingin menukarkan uang sejumlah Rp 5.000.000 ke pecahan 20rb, 10rb, 5rb, 2rb. berapa jumlahnya yang didapatkan Deni jika 20rb maksimal 100, 10rb maksimal 50.Jika :
<ol>
    <li>3(a)Semua pecahan harus ada</li>
    <li>3(b)Hanya pecahan 20rb, 10rb dan 5rb</li>
    <li>3(c)Hanya pecahan 20rb, 10rb dan 2rb</li>
</ol>

<h1>Analyze Here</h1>
.....

In [ ]:
#Code here
....

<h3>Soal 4</h3>
Berapakah hasil dari (10/23-6+4-(20//3%2)) ?
Lakukan analisa perhitungan dari hasil tersebut!
Berdasarkan hasil tersebut urutkan operator yang dikerjakan!

<h1>Analyze Here</h1>
.....

In [6]:
#Code here

<h3>Soal 5</h3>
Jika terdapat string yaitu "UFLOPYXTKJACSWRBGQZVDMEHIN", maka susunlah nama kalian masing-masing dari data tersebut, berdasarkan index dari masing-masing huruf yang ada pada string tersebut!

<h1>Analyze Here</h1>
.....